<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'libreria/principal.html' %}

    
    {% block pelicula %}

    <h1 style="color: rgb(10, 10, 10)">Carga de peliculas a la biblioteca</h1>

    <form method="post">{% csrf_token %}
    
        {{formulario_pelicula.as_p}}

        <input type="submit" value="Crear">

    </form>

    <h1 style="color: rgb(10, 10, 10)">Nombre de peliculas de la biblioteca</h1>

    {% for pelicula in peliculas %}
    <p style="color: rgb(7, 7, 7)">{{pelicula.nombre}}   
        <a href="{% url 'borrarpelicula' pelicula.id %}"> Borrar </a>
        <a href="{% url 'editarpelicula' pelicula.id %}"> Editar </a> </p>
        
{% endfor %}
    {% endblock %}
    
</body>
</html>