{% extends 'libreria/principal.html' %}

{% block biblioteca %}



    
    <h1 style="color: rgb(8, 8, 8)">Mi Biblioteca</h1>

    {% for persona in personas %}
    <p>{{persona.peliculas_preferidas}}</p>
    <p>{{persona.libros_preferidos}}</p>
    {% endfor %}

    <form action="pelicula_preferida" method="post">{% csrf_token %}

        <input type="text" name="formulario_pelicula">
        
        {{formulario_pelicula.as_table}}

        <input type="submit" value="Agregar">
       


    </form>


{% endblock %}
